.App {
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
}

.App * {
  margin: 0
}


.bold{
  font-weight: bold;
}

.student{
  border: 1px solid red;
  width: 30%;;
}

.student > *{
  margin: 1px 5px
}

.name{
  text-align: center;
  border-bottom: 1px solid grey;
}

.bio{
  font-size: .8em;
  border-bottom: 1px solid grey;
}

.scoreContainer{
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.scoreContainer > *{
  width: 100%;
  /* border: 1px solid orange; */
}

.left *, .right *{
  border-bottom: 1px solid grey;
}

.right{
  text-align: right;
}